<div class="content-box">
  <h2>Cargo Status</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-success" [style.width]="cargoPercentageFilled">
      <span style="color: #444">{{ cargoVolumeFilled }}</span>
    </div>
    <div *ngIf="cargoVolumePending && cargoVolumePending !== '0'"
         class="progress-bar progress-bar-warning progress-bar-striped" [style.width]="cargoPercentagePending">
      <span style="color: #444">{{ cargoVolumePending }}</span>
    </div>
  </div>
  <div>
    Filled: {{ cargoVolumeFilled }}
    Pending: {{ cargoVolumePending }}
    Total: {{ cargoVolumeFilled + cargoVolumePending }}
  </div>
</div>
