<div class="content-box roundedCorners">


  <h1>Order Queue</h1>

  <div class="alert alert-danger">
    <b>Read carefully</b><br/>
    <ul>
      <li>The evepraisal may not be available at all as the consolidation doesn't update correctly, the items will be provided on the next page</li>
      <li>The evepraisal may not show the correct item counts as the multi order doesn't update those, the items will be provided on the next page</li>
    </ul>
  </div>

  <table class="table">
    <tr>
      <th>Client</th>
      <th>Destination</th>
      <th>Client price</th>
      <th>Items</th>
      <th>Volume</th>
      <th>Age</th>
      <th>Pick</th>
    </tr>
    <tr *ngFor="let order of orders">
      <td>
        {{ order.client }}
      </td>
      <td>
        {{ order.destination }}
      </td>
      <td>
        {{ order.expectedPrice | numberGroups }} ISK
      </td>
      <td>
        <a href="{{ order.link }}" target="_blank">Evepraisal</a>
      </td>
      <td>
        {{ getVolume(order) | numberGroups }} m3
      </td>
      <td>
        {{ order.age }} h
      </td>
      <td>
        <app-pick (pick)="pick(order.id)"></app-pick>
      </td>
    </tr>

  </table>

  <!--<h2>Your Cargo volume indicator</h2>-->

  <!--<h2>Help</h2>-->
  <!--<h3>How does this work?</h3>-->
  <!--The process is as follows:-->
  <!--<ol>-->

  <!--</ol>-->

</div>
