<div class="content-box roundedCorners">


  <h1>Order Queue</h1>

  <div *ngIf="orders && orders.length > 0">

    <p>
      Orders: {{ orders.length }}<br/>
      Value: {{ requestedValue | numberGroups }} ISK<br/>
      Volume: {{ requestedVolume | numberGroups }} m3
    </p>

    <table class="table table-striped" [mfData]="orders" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
      <tr>
        <th>
          <input type="text" [(ngModel)]="clientNameQuery" placeholder="Client" >
        </th>
        <th>Destination</th>
        <th>
          <mfDefaultSorter by="expectedPrice">Client price</mfDefaultSorter>
        </th>
        <th>Items</th>
        <th>Volume</th>
        <th>
          <mfDefaultSorter by="age">Age</mfDefaultSorter>
        </th>
        <th>Pick</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of mf.data | clientFilter: clientNameQuery">
        <td>
          {{ order.client }}
        </td>
        <td>
          {{ order.destination }}
        </td>
        <td>
          {{ order.expectedPrice | numberGroups }} ISK
        </td>
        <td>
          <a href="{{ order.link }}" target="_blank">Evepraisal</a>
        </td>
        <td>
          {{ getVolume(order) | numberGroups }} m3
        </td>
        <td>
          {{ order.age }} h
        </td>
        <td>
          <app-pick (pick)="pick(order.id)" [isReserved]="order.assignee != null"></app-pick>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>

  </div>
  <div *ngIf="orders && orders.length == 0" class="alert alert-warning">No orders waiting.</div>
  <div *ngIf="!orders" class="alert alert-info">Loading ...</div>

</div>
