<button type="button" class="btn btn-primary"
        (click)="myModal.open()">Prepare Shipping
</button>

<modal #myModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">{{ modalTitle }}</h4>
  </modal-header>
  <modal-body>

    <p>
      Base Price: {{ basePrice | numberGroups }} ISK <br/>
      Exchange Price: {{ exchangePrice | numberGroups }} ISK
    </p>

    <button type="button" class="btn btn-primary" [disabled]="!exchangePrice"
            ngIIclipboard [cbContent]="exchangePrice">Copy Exchange Price
    </button>
    <button type="button" class="btn btn-primary" [disabled]="!exchangeDescription"
            ngIIclipboard [cbContent]="exchangeDescription">Copy Exchange Description
    </button>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger"
    (click)="myModal.close()">Cancel
    </button>
    <button type="button" class="btn btn-success"
            (click)="onConfirm(myModal)">{{ buttonTitle }}
    </button>
  </modal-footer>
</modal>
