<div class="content">
  <button class="btn btn-default" (click)="goBack()">Back</button>
  <div class="content-box">
    <h1>Order Details</h1>

    <div *ngIf="!order">Loading ...</div>
    <div *ngIf="order">

      <h3>Details</h3>

      <div class="row">
        <div class="col-md-6">
          <app-client [order]="order"></app-client>
        </div>
        <div class="col-md-6">
          <app-items [order]="order"></app-items>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <span class="form-control">Destination: {{order.destination}}</span>
        </div>
        <div class="col-md-6">
          <span class="form-control">Volume: {{order.destination}}</span>
        </div>
      </div>

      <h3>Pricing</h3>
      Buy Price: {{ buyPrice | numberGroups }} ISK<br/>
      Reward: {{ reward | numberGroups }} ISK<br/>
      Client Price: {{ order.expectedPrice | numberGroups }} ISK<br/>

      <h3>Process</h3>

      <div class="row">
        <div class="col-md-4">
          <app-process-bought></app-process-bought>
        </div>
        <div class="col-md-4">
          <app-process-skip></app-process-skip>
        </div>
        <div class="col-md-4">
          <app-process-flag></app-process-flag>
        </div>
      </div>

    </div>
  </div>
</div>
