<div class="content">
  <div class="content-box">
    <h1>Order Details</h1>

    <div *ngIf="!order">Loading ...</div>
    <div *ngIf="order">

      <h3>Details</h3>

      <b>1. Paste the items into Eve's multibuy and check if the prices are ok</b>

      <div class="row">
        <div class="col-md-6">
          <app-client [order]="order"></app-client>
        </div>
        <div class="col-md-6">
          <app-items [order]="order"></app-items>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="form-control">Destination: {{order.destination}}</span>
        </div>
        <div class="col-md-6">
          <span class="form-control">Volume: {{ getVolume(order) | numberGroups }} m3</span>
        </div>
      </div>

      <h3>Pricing</h3>
      Buy Price: {{ buyPrice | numberGroups }} ISK<br/>
      Reward: {{ reward | numberGroups }} ISK<br/>
      Client Price: {{ order.expectedPrice | numberGroups }} ISK<br/>

      <h3>Process</h3>

      <b>2. Send a confirmation mail if you accept this order</b>

      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <button type="button" class="btn btn-primary"
                    ngIIclipboard [cbContent]="getRecipient(order)">Copy Mail Recipient
            </button>
            <button type="button" class="btn btn-primary"
                    ngIIclipboard [cbContent]="titleConfirmed">Copy Mail Title
            </button>
            <button type="button" class="btn btn-primary"
                    ngIIclipboard [cbContent]="generateMail('confirmed', order)">Copy Confirmation Mail Body
            </button>
          </div>
        </div>
      </div>

      <br/>

      <b>3. Complete this order</b>

      <div class="row">
        <div class="col-md-12">
          <app-process-bought (bought)="process('bought')"></app-process-bought>
          <app-process-reserved (reserved)="process('reserved')"></app-process-reserved>
          <app-process-skip (skip)="process('skipped')"></app-process-skip>
          <app-process-flag (flag)="process('flagged')"></app-process-flag>
        </div>
      </div>

    </div>
  </div>
</div>
