<div class="btn-group">
  <label *ngFor="let item of radioItems" class="btn btn-default">
    <img src="{{ item.imgUrl }}" width="150"/> <br/>
    <input type="radio" name="options" (click)="changeDestination(item.name)"
           [checked]="item.name === model.name">  {{ item.name }}
  </label>
  <label class="btn btn-default">
    <img src="app/client/order/destination/soon.png" width="150" height="150"/> <br/>
    <input type="radio" name="options" [disabled]="true">  M-OEE8
  </label>
  <label class="btn btn-default">
    <img src="app/client/order/destination/soon.png" width="150" height="150"/> <br/>
    <input type="radio" name="options" [disabled]="true">  D7-ZAC
  </label>
</div>
