<div id="status" class="content-box roundedCorners">

  <h2>Check your status</h2>
  <p *ngIf="!auth.authenticated()">
    <a [attr.href]="ssoHref">
      <img
        src="https://images.contentful.com/idjq7aai9ylm/12vrPsIMBQi28QwCGOAqGk/33234da7672c6b0cdca394fc8e0b1c2b/EVE_SSO_Login_Buttons_Small_Black.png?w=195&h=30"/>
    </a>
  </p>
  <p *ngIf="auth.authenticated()" class="navbar-btn">
    <button class="btn btn-success btn-margin" (click)="goToClientPage()">Open Dashboard</button>
  </p>
</div>
