<div class="content-box roundedCorners">
  <h2>Share how you feel!</h2>
  <div *ngIf="!answered">
  <h4>
    {{ question }}
  </h4>
  <div class="btn-group btn-group-justified" data-toggle="buttons" >
    <label class="btn btn-success" (click)="answerWith('yes')">
      <input type="radio" name="options" id="option1" autocomplete="off"> Yes
    </label>
    <label class="btn btn-danger"(click)="answerWith('no')">
      <input type="radio" name="options" id="option2" autocomplete="off"> No
    </label>
  </div>
  </div>
  <p *ngIf="answered">
    Thank you!
  </p>
</div>
