<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-86468361-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div *ngIf="!auth.authenticated()" style="padding: 10px">
      <a class="navbar-right" [attr.href]="ssoHref">
        <img
          src="https://images.contentful.com/idjq7aai9ylm/12vrPsIMBQi28QwCGOAqGk/33234da7672c6b0cdca394fc8e0b1c2b/EVE_SSO_Login_Buttons_Small_Black.png?w=195&h=30"/>
      </a>
    </div>

    <div *ngIf="auth.authenticated()">
      <div class="navbar-header">
        <span *ngIf="!clientName" class="navbar-brand">Loading ...</span>
        <span *ngIf="clientName" class="navbar-brand">Hello {{ clientName }}!</span>
      </div>
      <ul class="nav navbar-nav navbar-right" >
        <li>
          <p class="navbar-btn">
            <button class="btn btn-success btn-margin" (click)="goToFrontpage()" style="margin-right: 10px">Order now!</button>
          </p>
        </li>
        <li>
          <p class="navbar-btn">
            <button class="btn btn-default btn-margin" (click)="auth.logout()" style="margin-right: 10px">Log Out</button>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div style="height:30px"></div>
<div class="content-box" *ngIf="!clientName">Loading ...</div>

<div *ngIf="auth.authenticated() && currentUser" class="content">
  <app-queue></app-queue>
  <app-history></app-history>
</div>
