<button type="button" class="btn btn-success" [disabled]="!order.setPrice"
        (click)="myModal.open()">{{ buttonTitle }}
</button>

<modal #myModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">{{ modalTitle }}</h4>
  </modal-header>
  <modal-body>

    <!--todo: insert content here-->
    CONTENT

  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger"
    (click)="myModal.close()">Cancel
    </button>
    <button type="button" class="btn btn-success"
            (click)="onConfirm(myModal)">Confirm
    </button>
  </modal-footer>
</modal>
