<div class="btn-group" role="group">
  <button type="button" class="btn btn-default" (click)="reserveOrder()">{{ buttonTitle }}</button>
  <button class="btn btn-default" type="button" (click)="myModal.open()">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </button>
</div>

<modal #myModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Help - Reserve Order</h4>
  </modal-header>
  <modal-body>
    Click this button if you want to reserve this order for later processing. It will not show up for other pilots
    anymore.
    <br/><br/>
    If you don't understand this (that's totally fine) please contact Rihan Shazih.
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-success"
            (click)="myModal.close()">Ok
    </button>
  </modal-footer>
</modal>
