<div style="text-align: center">
  <button id="showStatusButton" type="button" class="btn btn-primary" (click)="showStatusForm=true"
          *ngIf="!showStatusForm">Check your Status
  </button>
  <!--todo: move the buttons to super class; with input/output-->
  <br/>
  <br/>
</div>

<div id="status" class="content-box roundedCorners" *ngIf="showStatusForm">

  <h2>Check your status</h2>

    <label for="orderCodeInput">Order Code</label>
  <div class="input-group">
    <input #statusInput="ngModel" [(ngModel)]="model"
           type="text" class="form-control" id="orderCodeInput"
           placeholder="Enter the order code" name="statusInput"
           required pattern="[a-z0-9]+">
    <span class="input-group-btn">
        <button id="submitLink" class="btn btn-default" type="button"
                (click)="requestStatus(statusInput.value)"
                [disabled]="!statusInput.valid || statusInput.pristine">Get Quote!</button>
        </span>
  </div>


  <div *ngIf="status" class="alert alert-primary">
    Current status: {{ status }} 
  </div>
</div>
