<div style="text-align: center">
  <button type="button" class="btn btn-primary" (click)="showStatusForm=true" *ngIf="!showStatusForm">Check your Status</button>
  <!--todo: move the buttons to super class; with input/output-->
  <br/>
  <br/>
</div>

<div class="content-box roundedCorners" *ngIf="showStatusForm">

  <h2>Check your status</h2>

  <label for="orderCode">Order Code</label>
  <input type="text" class="form-control" id="orderCode" placeholder="Enter the order code"
         (keyup)="onKey($event)" required pattern="[a-z0-9]">
  <div *ngIf="status" class="alert alert-primary">
    Current status: {{ status }} 
  </div>
</div>
