<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">


    <ul class="nav navbar-nav">
      <li>
        <p class="navbar-text">
          Queue: {{ queueSize }}
        </p>
      </li>
      <li>
        <p class="navbar-text sm-down-hide">
          Completed: {{ completedCount }}
        </p>
      </li>
      <li>
        <p class="navbar-text sm-down-hide">
          Average time: {{ averageHours }}h
        </p>
      </li>
    </ul>


    <div *ngIf="!auth.authenticated()" style="padding: 10px">
      <a class="navbar-right" [attr.href]="ssoHref">
        <img
          src="https://images.contentful.com/idjq7aai9ylm/12vrPsIMBQi28QwCGOAqGk/33234da7672c6b0cdca394fc8e0b1c2b/EVE_SSO_Login_Buttons_Small_Black.png?w=195&h=30"/>
      </a>
    </div>

    <div *ngIf="auth.authenticated()">
      <div class="navbar-header">
      </div>
    </div>
    <div *ngIf="auth.authenticated()">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-btn" style="padding-right: 10px">
            <button class="btn btn-success btn-margin" (click)="goToClientPage()">Open Dashboard</button>
          </p>
        </li>
        <li>
          <p class="navbar-btn" style="padding-right: 10px">
            <button class="btn btn-default btn-margin" (click)="auth.logout()">Log Out</button>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div style="height:30px"></div>

<div class="content">
  <app-survey></app-survey>
  <order [prefillName]="prefillName" [prefillLink]="prefillLink" [prefillDestination]="prefillDestination"></order>
  <testimonials></testimonials>
</div>
