<style>
  td {
    padding: 5px;
    border: 1px solid;
  }
</style>

<div class="content-box">
  <h2>Manage Orders</h2>
  <div *ngIf="!data">Loading ...</div>
  <table *ngIf="data">
    <tr>
      <th>Client</th>
      <th>Link</th>
      <th>Status</th>
      <th>Price</th>
      <th>Operations</th>
    </tr>
    <tr *ngFor="let order of data">
      <td>{{order.client}}</td>
      <td>
        <a href="{{order.link}}" target="_blank">{{order.link}}</a>
      </td>
      <td>{{order.status}}</td>
      <td>
        <div *ngIf="order.setPrice">{{ order.setPrice | numberGroups }} ISK</div>
        <div *ngIf="!order.setPrice">
          please set
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li style="padding: 5px" *ngIf="!order.setPrice">
              <button type="button" class="btn btn-primary"
                      (click)="loadAndSetPrice(order)">Price
              </button>
            </li>
            <li style="padding: 5px" *ngIf="order.status === 'requested'">
              <confirm-dialog [disableButton]="!order.setPrice" [orderId]="order.id" [recipient]="getRecipient(order)"
                              [mail]="generateMail('confirmed', order)" (orderConfirmed)="onStatusChange($event.value, 'confirmed');">
              </confirm-dialog>
            </li>
            <li style="padding: 5px" *ngIf="order.status === 'requested'">
              <reject-dialog [orderId]="order.id" [recipient]="getRecipient(order)"
                              [mail]="generateMail('rejected', order)" (orderRejected)="onStatusChange($event.value, 'rejected');">
              </reject-dialog>
            </li>
            <li style="padding: 5px" *ngIf="order.status === 'confirmed'">
              <button #someId  type="button" class="btn btn-primary" (click)="addItemsToClipboard(order)">Clip
              </button>
            </li>
            <li style="padding: 5px" *ngIf="order.status === 'confirmed'">
              <shipping-dialog [orderId]="order.id" [collateral]="calcCollateral(order)" [reward]="calcReward(order)"
                               (orderShipped)="onStatusChange($event.value, 'shipping');">
              </shipping-dialog>
            </li>
            <li style="padding: 5px" *ngIf="order.status === 'shipping'">
              <contracted-dialog [orderId]="order.id" [recipient]="getRecipient(order)" [mail]="generateMail('contracted', order)"
                (orderContracted)="onStatusChange($event.value, 'contracted');">
              </contracted-dialog>
            </li>
          </ul>
        </div>

      </td>
    </tr>
  </table>
</div>

<div class="content-box" *ngIf="clipboardData">
  <h3>Clipboard list</h3>
  <div [innerHTML]="clipboardData"></div>
  <button type="button" *ngIf="clipboardData" class="btn btn-primary"
          ngIIclipboard [cbContent]="clipboardData">Copy to Clipboard
  </button>
</div>
