<style>
  td {
    padding: 5px;
    border: 1px solid;
  }
</style>

<div class="content-box">
  <h2>Manage Orders</h2>
  <div *ngIf="!data">Loading ...</div>
  <table *ngIf="data">
    <tr>
      <th>Client</th>
      <th>Link</th>
      <th>Status</th>
      <th>Price</th>
      <th>Operations</th>
    </tr>
    <tr *ngFor="let order of data">
      <td>{{order.client}}</td>
      <td>
        <a href="{{order.link}}" target="_blank">{{order.link}}</a>
      </td>
      <td>{{order.status}}</td>
      <td>
        <div *ngIf="order.setPrice">{{ order.setPrice | numberGroups }} ISK</div>
        <div *ngIf="!order.setPrice">
          please set
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li style="padding: 5px" *ngIf="!order.setPrice">
              <button type="button" class="btn btn-primary"
                      (click)="loadAndSetPrice(order)">Price
              </button>
            </li>
            <li style="padding: 5px" *ngIf="order.status === 'requested'">
              <confirm-dialog [disableButton]="!order.setPrice" [orderId]="order.id" [recipient]="getRecipient(order)"
                              [mail]="generateMail('confirmed', order)" (orderConfirmed)="onStatusChange($event.value, 'confirmed');"
                              ></confirm-dialog>
            </li>
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <li style="padding: 5px">
              <button type="button" *ngIf="order.status === 'requested'" class="btn btn-danger"
                      (click)="showDialog(order, rejectModal)">Reject
              </button>
            </li>
            <li style="padding: 5px">
              <button #someId *ngIf="order.status === 'confirmed'" type="button"
                      class="btn btn-primary" (click)="addItemsToClipboard(order)">Clip
              </button>
            </li>
            <li style="padding: 5px">
              <button type="button" *ngIf="order.status === 'confirmed'" class="btn btn-primary"
                      (click)="showShippingDialog(order, shippingModal)">Prepare Shipping
              </button>
            </li>
            <li style="padding: 5px">
              <button type="button" *ngIf="order.status === 'shipping'" class="btn btn-primary"
                      (click)="showDialog(order, contractedModal)">Contracted
              </button>
            </li>
          </ul>
        </div>

      </td>
    </tr>
  </table>
</div>

<div class="content-box" *ngIf="clipboardData">

  <h3>Clipboard list</h3>
  <div [innerHTML]="clipboardData"></div>
  <button type="button" *ngIf="clipboardData" class="btn btn-primary"
          ngIIclipboard [cbContent]="clipboardData">Copy to Clipboard
  </button>
</div>

<modal #rejectModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Reject Order</h4>
  </modal-header>
  <modal-body *ngIf="modalOrder">
    <button type="button" class="btn btn-primary"
            ngIIclipboard [cbContent]="getRecipient(modalOrder)">Copy Recipient
    </button>
    <button type="button" class="btn btn-primary"
            ngIIclipboard [cbContent]="getTitle('rejected')">Copy Title
    </button>
    <button type="button" class="btn btn-primary"
            ngIIclipboard [cbContent]="generateMail('rejected', modalOrder)">Copy Mail
    </button>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger"
            (click)="onModalAction(modalOrder, 'rejected', rejectModal)">Reject
    </button>
  </modal-footer>
</modal>

<modal #shippingModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Shipment</h4>
    <p>Shipping costs are for internal JF pilots. Calculate external logistics accordingly.</p>
  </modal-header>
  <modal-body *ngIf="modalOrder">
    <button type="button" class="btn btn-primary" [disabled]="!modalShippingCollateral"
            ngIIclipboard [cbContent]="modalShippingCollateral">Copy Collateral
    </button>
    <button type="button" class="btn btn-primary" [disabled]="!modalShippingReward"
            ngIIclipboard [cbContent]="modalShippingReward">Copy Reward
    </button>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-success" [disabled]="!modalShippingReward || !modalShippingCollateral"
            (click)="onModalAction(modalOrder, 'shipping', shippingModal)">Ship Me
    </button>
  </modal-footer>
</modal>

<modal #contractedModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Finnish Contract</h4>
  </modal-header>
  <modal-body *ngIf="modalOrder">
    <button type="button" class="btn btn-primary"
            ngIIclipboard [cbContent]="getRecipient(modalOrder)">Copy Recipient
    </button>
    <button type="button" class="btn btn-primary"
            ngIIclipboard [cbContent]="getTitle('contracted')">Copy Title
    </button>
    <button type="button" class="btn btn-primary"
            ngIIclipboard [cbContent]="generateMail('contracted', modalOrder)">Copy Mail
    </button>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-success"
            (click)="onModalAction(modalOrder, 'contracted', contractedModal)">Contracted
    </button>
  </modal-footer>
</modal>
