<div class="content-box">
  <h1>Shipment</h1>

  <div *ngIf="orders && orders.length > 0">

    <div class="row">
      <div class="col-md-10">
        <button type="button" class="btn btn-primary"
                ngIIclipboard [cbContent]="allClients">Copy All Recipients
        </button>
        <button type="button" class="btn btn-primary"
                ngIIclipboard [cbContent]="mailTitle">Copy Mail Title
        </button>
        <button type="button" class="btn btn-primary"
                ngIIclipboard [cbContent]="mailBody">Copy Mail Body
        </button>
      </div>
      <div class="col-md-2">
        <confirm-dialog *ngIf="!isContractedAll && !isContractingAll" (contractedAll)="contractedAll()"></confirm-dialog>
        <span *ngIf="isContractingAll && !isContractedAll">Submitting ...</span>
        <span *ngIf="isContractedAll">Complete.</span>
      </div>
    </div>

    <hr/>

    <table class="table">
      <tr>
        <th>Client Name</th>
        <th>Destination</th>
        <th>Items</th>
        <th>Price</th>
        <th>Process</th>
      </tr>
      <tr *ngFor="let order of orders">
        <td>
          <div class="input-group">
            <span class="form-control">{{ order.client }}</span>
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ngIIclipboard [cbContent]="order.client">
              <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            </button>
          </span>
          </div>
        </td>
        <td>{{ order.destination }}</td>
        <td><a href="{{ order.link }}" target="_blank">Items</a></td>
        <td>
          <div class="input-group">
            <span class="form-control">{{ order.expectedPrice | numberGroups }} ISK</span>
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ngIIclipboard [cbContent]="order.expectedPrice">
              <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            </button>
          </span>
          </div>
        </td>
        <td>
          <contracted-dialog *ngIf="!(order.status === 'contracted')" [recipient]="getRecipient(order)"
                             [mail]="generateMail('contracted', order)"
                             (orderContracted)="onStatusChange(order.id, 'contracted');">
          </contracted-dialog>
          <span *ngIf="order.status === 'contracted'">Complete</span>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="orders && orders.length == 0" class="alert alert-warning">No orders to be shipped.</div>
  <div *ngIf="!orders" class="alert alert-info">Loading ...</div>
</div>
