<div class="content-box">
  <h1>Shipment</h1>


  <div *ngIf="orders && orders.length > 0">

    <button type="button" class="btn btn-primary"
            ngIIclipboard [cbContent]="allClients">Copy All Recipients
    </button>
    <button type="button" class="btn btn-success"
            (click)="contractedAll()">Contracted All
    </button>

    <hr/>

    <table class="table">
      <tr>
        <th>Client Name</th>
        <th>Destination</th>
        <th>Price</th>
        <th>Process</th>
      </tr>
      <tr *ngFor="let order of orders">
        <td>
          <div class="input-group">
            <span class="form-control">{{ order.client }}</span>
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ngIIclipboard [cbContent]="order.client">
              <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            </button>
          </span>
          </div>
        </td>
        <td>{{ order.destination }}</td>
        <td>
          <div class="input-group">
            <span class="form-control">{{ order.expectedPrice | numberGroups }}.00 ISK</span>
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ngIIclipboard [cbContent]="order.expectedPrice">
              <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            </button>
          </span>
          </div>
        </td>
        <td>
          <contracted-dialog *ngIf="!(order.status === 'contracted')" [recipient]="getRecipient(order)"
                             [mail]="generateMail('contracted', order)"
                             (orderContracted)="onStatusChange(order.id, 'contracted');">
          </contracted-dialog>
          <span *ngIf="order.status === 'contracted'">Complete</span>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="!orders || orders.length == 0" class="alert alert-warning">No orders to be shipped.</div>
</div>
