<div class="content">
  <div class="content-box roundedCorners">
    <a href="http://hordedelivery.com">Back</a>

    <br/>

    <h1>Updates</h1>

    <h2>1.1.18</h2>
    <small>01.01.2016</small>
    <ul>
      <li>Extend service to the capital staging</li>
      <li>Reduced fee for capital modules to 10%</li>
      <li>Stats have been moved to the navigation bar</li>
    </ul>

    <h2>1.1.17</h2>
    <small>8.12.2016</small>
    <ul>
      <li>Doctrine ships can be ordered prefitted</li>
      <li>When we consolidate items, the evepraisal now gets updated instead getting lost</li>
      <li>Fixed a bug, where a client's order would now show up if it didn't match the case</li>

    </ul>

    <h2>1.1.13</h2>
    <small>26.11.2016</small>
    <p>In the <a href="http://hordedelivery.com/client">client's dashboard</a> you can now order doctrine ships. Soon you will be able to remember and label your own orders.</p>

    <h2>1.1.2</h2>
    <small>15.11.2016</small>
    <ul>
      <li>Huge update to internal processes which enables faster deliveries.</li>
      <li>Welcome message for alphabeans</li>
    </ul>

    <h2>1.1</h2>
    <small>05.11.2016</small>
    <br/>
    <ul>
      <li>Added <b>order multiplier</b></li>
      <li>Added updates page and notification</li>
      <li>Delete button for orders</li>
      <li>EvE SSO Integration</li>
      <li>Client Dashboard</li>
    </ul>
    <h2>1.0</h2>
    Initial Release

    <h1>Upcoming Changes</h1>

    <h2>1.2</h2>
    <ul>
      <li>Order history</li>
      <li>Label orders</li>
      <li>Remember orders</li>
      <li>Opt-out from notification emails</li>
    </ul>

    <h3>1.3</h3>
    <ul>
      <li>Link alts to your main and see all orders</li>
    </ul>
  </div>

</div>
