<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-86468361-1', 'auto');
  ga('send', 'pageview');
</script>

<div class="content">
  <div class="content-box roundedCorners">
    <a href="http://hordedelivery.com">Back</a>

    <br/>

    <h1>Updates</h1>

    <h2>1.1.2</h2>
    <small>15.11.2016</small>
    <ul>
      <li>
          Updates to internal processes which should result in faster deliveries.
      </li>
    </ul>

    <h2>1.1</h2>
    <small>05.11.2016</small>
    <br/>
    <ul>
      <li>Added <b>order multiplier</b></li>
      <li>Added updates page and notification</li>
      <li>Delete button for orders</li>
      <li>EvE SSO Integration</li>
      <li>Client Dashboard</li>
    </ul>
    <h2>1.0</h2>
    Initial Release

    <h1>Upcoming Changes</h1>

    <h2>1.2</h2>
    <ul>
      <li>Order history</li>
      <li>Label orders</li>
      <li>Remember and re-submit orders</li>
      <li>Opt-out from notification emails</li>
    </ul>

    <h3>1.3</h3>
    <ul>
      <li>Link alts to your main and see all orders</li>
    </ul>
  </div>

</div>
