<div class="content-box roundedCorners">
  <h1>Your Queue</h1>

  <span *ngIf="!ordersLoaded">Loading ...</span>
  <span *ngIf="ordersLoaded && orders.length == 0">No orders waiting. If you are waiting for an order, please check your contracts.</span>

  <div *ngIf="ordersLoaded && orders.length > 0">
    <table class="table">
      <tr>
        <th>Destination</th>
        <th>Items</th>
        <th>Price</th>
        <th></th>
      </tr>
      <tr *ngFor="let order of orders">
        <td>{{ order.destination }}</td>
        <td>
          <a href="{{ order.link }}" target="_blank">Evepraisal</a>
        </td>
        <td>{{ order.expectedPrice | numberGroups }} ISK</td>
        <td>
          <confirm-dialog *ngIf="order.status === 'requested'" (deleted)="deleteOrder(order)"></confirm-dialog>
          <span *ngIf="order.status !== 'requested'">Order confirmed</span>
        </td>
      </tr>
    </table>
    <small>Multiple orders may be consolidated into one which will also update the evepraisal.</small>
  </div>
</div>
