<div class="content-box roundedCorners">
  <h1>Order Templates</h1>
  <p>In this section you find prepared ships for you to order. Clicking the order button will prefill the order
    form you are used to.</p>

  <h3>Doctrine</h3>

  <table class="table">
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let doctrine of doctrines">
      <td>{{ doctrine.title }}</td>
      <td><a href="http://evepraisal.com/e/{{ doctrine.link }}" target="_blank">Open Evepraisal</a></td>
      <td>
        <button class="btn btn-default" (click)="order(doctrine)">Order</button>
      </td>
      <td>
        <button class="btn btn-default" (click)="orderFitted(doctrine)">Order fitted</button>
      </td>
    </tr>
  </table>
</div>
