<div class="content-box roundedCorners">

  <h1>Horde Delivery Service</h1>
  <h3>Submit Order</h3>

  <p>
    <b>We rapidly buy and ship safely for you</b>. No Jita alt needed!
    <br/>Payment is due upon accepting the contract at the destination, don't pay in advance!
  </p>

  <p>
    If you have any <b>questions or feedback</b>, feel free to contact Rihan Shazih ingame or on the
    <a href="https://www.pandemic-legion.pl/forums/index.php?/topic/3184-horde-delivery-service/">forums</a>.
  </p>

  <div>
    <b>Anti Market Fuckery</b>
    <br/>
    If items are overpriced or not seeded, report them at <b><a href="http://hordedelivery.com/market">http://hordedelivery.com/market</a></b>.
    <br/>
    This will let seeders know which items you need.
    <i>The market page is open to use for everyone, consumers and seeders.</i>
  </div>

  <br/>

  <form (ngSubmit)="onSubmit()" *ngIf="!submitted">
    <fieldset class="form-group">
      <label for="characterName">Character Name</label>
      <input [(ngModel)]="model.client" name="client" #client="ngModel" type="text" class="form-control"
             id="characterName"
             placeholder="Enter character name" required>
    </fieldset>
    <fieldset class="form-group">
      <label for="destinationWrapper">Destination</label>
      <br/>
      <destination id="destinationWrapper" [defaultDestination]="model.destination"
                   (destinationChanged)="setDestination($event)">
      </destination>
    </fieldset>
    <fieldset class="form-group">

      <label for="evepraisalLink">Evepraisal Link</label>
      <div class="input-group">
        <input [(ngModel)]="model.link" name="linkInput" #linkInput="ngModel"
               type="url" class="form-control" id="evepraisalLink"
               placeholder="Enter an Evepraisal link like http://evepraisal.com/e/11833945"
               required pattern="http[s]?:\/\/(www\.)?evepraisal\.com\/e\/[0-9]+">
        <span class="input-group-btn">
        <button id="submitLink" class="btn btn-default" type="button"
                (click)="askQuote(model.link)" [disabled]="!linkInput.valid || linkInput.pristine">Get Quote!</button>
        </span>
      </div>
      <small>Paste your items at <a href="http://evepraisal.com" target="_blank">evepraisal.com</a>,
        submit and copy the url into this field.
      </small>
    </fieldset>
    <div *ngIf="isPriceCalculationRunning">
      Price calculation running ...
    </div>
    <div *ngIf="isPriceCalculationFailed" class="alert alert-danger">
      The price for <a href="{{model.link}}" target="_blank">{{model.link}}</a> could not be resolved.
    </div>
    <div id="quoteResult" *ngIf="isPriceCalculated" class="alert alert-success">
      Expected total price: <b>{{ expectedPrice | numberGroups }}.00 ISK</b>
      <small>
        <br/>This includes the price for the items and the shipping cost.
        <br/>Formula: total = jitaMinSell + 13%
        <br/>Please note that the buy price at Jita may change.
      </small>
    </div>
    <div *ngIf="!isPriceCalculated && !isPriceCalculationRunning && !isPriceCalculationFailed"
         class="alert alert-warning">
      Please enter an Evepraisal link and click on "Get Quote!" to load the total price.
    </div>

    <!--comparing against isReorder makes sure the submit button is enabled when an order is reordered-->
    <button id="submitOrder" type="submit" class="btn btn-primary"
            [disabled]="(!isPriceCalculated || client.pristine) && !isReorder">
      Submit
    </button>
  </form>

  <div *ngIf="submitted" id="orderSubmittedMessage">
    <h3>Thank you for your order!</h3>
    <p>With the order ID <b>{{ orderId }}</b> you can check the status of your order. It will also be included
      in all mails.<br/>
      After we accept the order, your goods will be shipped over and contracted to you. Upon accepting the contract you
      have to pay. Don't pay in advance!</p>

    <p>
      If you the need the same order multiple times, just click on Order this again.
    </p>

    <button type="button" class="btn btn-default"
            ngIIclipboard [cbContent]="orderId">Copy ID
    </button>
    <button type="button" class="btn btn-primary"
            (click)="showOrderPageUntouched()">Order this again
    </button>
    <button type="button" class="btn btn-primary"
            (click)="showOrderPage()">Buy more
    </button>
    <br/>
    <br/>
    <div class="alert alert-info">
      Win sweet ships with Horde Delivery Raffles: <a href="http://hordedelivery.com/raffle"><b>Check it out!</b></a>
    </div>
  </div>
</div>
