<style>
  td {
    padding: 5px;
    border: 1px solid;
  }
</style>

<div class="content-box">
  <h2>Manage Orders</h2>
  <div *ngIf="!data">Loading ...</div>
  <table *ngIf="data">
    <tr>
      <th>Client</th>
      <th>Link</th>
      <th>Status</th>
      <th>Price</th>
      <th>Items</th>
      <th>Operations</th>
    </tr>
    <tr *ngFor="let order of data">
      <td>{{order.client}}</td>
      <td>
        <a href="{{order.link}}" target="_blank">{{order.link}}</a>
      </td>
      <td>{{order.status}}</td>
      <td>
        <div *ngIf="order.setPrice">{{ order.setPrice | numberGroups }} ISK</div>
        <div *ngIf="!order.setPrice">
          <button type="button" class="btn btn-primary" *ngIf="!order.setPrice"
                  (click)="loadAndSetPrice(order)">Price
          </button>
        </div>
      </td>
      <td>
        <button #someId *ngIf="order.status === 'confirmed'" type="button"
                class="btn btn-primary" (click)="addItemsToClipboard(order)">Clip
        </button>
      </td>
      <td>
        <button type="button" *ngIf="order.status === 'requested'" class="btn btn-success"
                [disabled]="!order.setPrice"
                (click)="showDialog(order, confirmModal)">Confirm
        </button>
        <button type="button" *ngIf="order.status === 'requested'" class="btn btn-danger"
                (click)="showDialog(order, rejectModal)">Reject
        </button>
        <button type="button" *ngIf="order.status === 'confirmed'" class="btn btn-primary"
                (click)="showShippingDialog(order, shippingModal)">Shipping
        </button>
        <button type="button" *ngIf="order.status === 'shipping'" class="btn btn-primary"
                (click)="showDialog(order, contractedModal)">Contracted
        </button>
      </td>
    </tr>
  </table>

  <div *ngIf="clipboardData">

    <h3>Clipboard list</h3>
    <div [innerHTML]="clipboardData"></div>
    <!--<button type="button" *ngIf="clipboardData" class="btn btn-primary"-->
            <!--ngIIclipboard [cbContent]="clipboardData">Copy to Clipboard-->
    <!--</button>-->
  </div>

</div>

<div bsModal #rejectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="rejectModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Reject Contract</h4>
      </div>
      <div class="modal-body" *ngIf="modalOrder">
        <!--<button type="button" class="btn btn-primary"-->
                <!--ngIIclipboard [cbContent]="getRecipient(modalOrder)">Copy Recipient-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary"-->
                <!--ngIIclipboard [cbContent]="getTitle('rejected')">Copy Title-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary"-->
                <!--ngIIclipboard [cbContent]="generateMail('rejected', modalOrder)">Copy Mail-->
        <!--</button>-->
        <button type="button" class="btn btn-danger"
                (click)="onModalAction(modalOrder, 'rejected', rejectModal)">Reject
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirm Contract</h4>
      </div>
      <div class="modal-body" *ngIf="modalOrder">
        <!--<button type="button" class="btn btn-primary"-->
                <!--ngIIclipboard [cbContent]="getRecipient(modalOrder)">Copy Recipient-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary"-->
                <!--ngIIclipboard [cbContent]="getTitle('confirmed')">Copy Title-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary"-->
                <!--ngIIclipboard [cbContent]="generateMail('confirmed', modalOrder)">Copy Mail-->
        <!--</button>-->
        <button type="button" class="btn btn-success"
                (click)="onModalAction(modalOrder, 'confirmed', confirmModal)">Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #shippingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="shippingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="shippingModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Shipment</h4>
      </div>
      <div class="modal-body" *ngIf="modalOrder">
        <!--<button type="button" class="btn btn-primary" [disabled]="!modalShippingCollateral"-->
                <!--ngIIclipboard [cbContent]="modalShippingCollateral">Copy Collateral-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary" [disabled]="!modalShippingReward"-->
                <!--ngIIclipboard [cbContent]="modalShippingReward">Copy Reward-->
        <!--</button>-->
        <button type="button" class="btn btn-success" [disabled]="!modalShippingReward || !modalShippingCollateral"
                (click)="onModalAction(modalOrder, 'shipping', shippingModal)">Ship
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #contractedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="contractedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="contractedModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirm Contract</h4>
      </div>
      <div class="modal-body" *ngIf="modalOrder">
        <!--<button type="button" class="btn btn-primary"-->
                <!--ngIIclipboard [cbContent]="getRecipient(modalOrder)">Copy Recipient-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary"-->
                <!--ngIIclipboard [cbContent]="getTitle('contracted')">Copy Title-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary"-->
                <!--ngIIclipboard [cbContent]="generateMail('contracted', modalOrder)">Copy Mail-->
        <!--</button>-->
        <button type="button" class="btn btn-success"
                (click)="onModalAction(modalOrder, 'contracted', contractedModal)">Contracted
        </button>
      </div>
    </div>
  </div>
</div>
